---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout anotherProp={'from home'}><h2>slot h2 title</h2></BaseLayout>
<iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJMXNk-Fa6woARfqSj6D0ghs8&key=AIzaSyBE8uS5BVAgZd2RIcMwlgjbBvHu_v2Qmu0"></iframe>
